/.Blatt2DescriptionLabelProvider.java._trace
/.Blatt2DescriptionLabelProvider.xtendbin
/.Blatt2LabelProvider.java._trace
/.Blatt2LabelProvider.xtendbin
/Blatt2DescriptionLabelProvider.java
/Blatt2LabelProvider.java
